
.card {
    margin-bottom: 20px;
    border: none
  }
  
  .box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background:linear-gradient(to right, #243949 0%, #517fa4 100%);
    ;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
  }
  
  .box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
  }
  
  .forgot {
    text-decoration: underline
  }
  .color{
    --background: gray;
  }
  
  
  
  
  
  
  
  
  