<app-header></app-header>

<ion-content>
  
<!-- <ion-item > -->
  <ion-grid>
    <ion-row>
      <ion-col size=12>
        <ion-item>
          <h6><b>Filter By Offers</b></h6>
          <ion-select interface='popover' mode='ios' (ionChange)='filter(search)' [(ngModel)]="search">
            <ion-select-option  *ngFor="let offer of offerData" value="{{offer.offer_percentage}}" >{{offer.offer_percentage}}</ion-select-option>      
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- </ion-item> -->
    <ion-row>

        <ion-col>
            <div class="table-responsive container">
              <table  >
                <tr class="border">
                  <th><h4><b>Product Id</b></h4></th>
                  <th><h4><b>Product Name</b></h4></th>
                  <th><h4><b>Price</b></h4></th>
                  <th><h4><b>Offer</b></h4></th>
                  <th><h4><b>Subcategory Id</b></h4></th>
                  <th><h4><b>Edit</b></h4></th>
                  <th><h4><b>Delete</b></h4></th>
                </tr>
                <tr *ngFor="let item of data" class="border">
                  <td>{{item.product_id}}</td>
                  <td>{{item.product_name}}</td>
                  <td>{{item.mrp}}</td>
                  <td >{{item.offer}}</td>
                  <td>{{item.sub_categoryid}}</td>
                  <td><ion-button color="secondary">Edit</ion-button></td>
                  <td><ion-button color="danger">Delete</ion-button></td>
    
                </tr>
    
              </table>
    
            </div>



    
    
    
       
        </ion-col>
      </ion-row>
</ion-content>
