<app-header></app-header>

<ion-content>
<!-- <ion-label >Category</ion-label> -->



<ion-grid>
    <ion-row>
        <ion-col class="pt-5">
            <ion-item class="border" lines="none">
                <ion-input placeholder="Category" type="text" [(ngModel)]="Category" ></ion-input>
                <ion-input placeholder="Category" type="file" [(ngModel)]="Image" ></ion-input>
            </ion-item>
          
        </ion-col>
     
    </ion-row>
    <ion-row >
        <ion-col  size="12">
            <div class="ion-text-center">
                <ion-button (click)="addCategory(Category,Image)" shape="round" class="clr">+ Add Category</ion-button>
            </div>    
        </ion-col>
        
            
    </ion-row>
</ion-grid>
<ion-grid>
    <ion-row>
        <ion-col size="5" offset="1" *ngFor="let item of catdata">
            <ion-card style="width: 400px;">
               
                    <h4 class="text-center">Category Name  :{{item.cat_name}}</h4> 
                   
               
            <img src="{{item.cat_image}}" style="height: 150px;width: 300px; padding-left: 100px;">
            
            
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>


 
</ion-content>
