<app-header></app-header>


<ion-content [fullscreen]="true">

    <ion-grid>
        <h1 class="ion-text-center"></h1>
        <ion-row>
          <ion-col size="4" >
            <ion-card class="size12" >
              <!-- <img src="/assets/bg/outline_people_alt_black_48dp.png" > -->
              <h4 class="text-center font"><b>Special User Requests</b></h4>
              <!-- <h1>{{count}}+</h1> -->
              <h1 class="text-center">624+</h1>
            </ion-card>
          </ion-col>
    
          <ion-col  >
            <ion-card class="size13">
              <!-- <img src="/assets/bg/outline_date_range_black_48dp.png"> -->
              <h4 class="text-center font" ><b>Orders</b></h4>
              <h1 class="text-center">2198+</h1>
            </ion-card>
          </ion-col>
   
           <ion-col >
          <ion-card class="size14">
            <!-- <img src="/assets/Images/outline_menu_book_black_48dp.png"> -->
            <h4 class="text-center font" font><b>Cancel</b></h4>
            <h1 class="text-center">80+</h1>
          </ion-card>
        </ion-col> 

        </ion-row>
      </ion-grid>

<ion-item>
  <ion-select (ionChange)='change()' interface="popover" mode='ios' [(ngModel)]="Select">
    <ion-select-option value="HomeCare" >Home Care</ion-select-option>
    <ion-select-option value="CovidCare" >Covid Care</ion-select-option>
    <ion-select-option value="Electronics">Electronics</ion-select-option>
  </ion-select>
</ion-item>
      
      
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="bg1">
          <div id="chart_div"></div>
        </ion-card>
        
      </ion-col>
      <ion-col size="6">
        <ion-card class="bg1">
          <div id="chart_div1"></div>
        </ion-card>
      </ion-col>

  
    <ion-col size="6">
      <ion-card class="bg1">
        <div id="chart_div2"></div>
      </ion-card>
    </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
